@model IEnumerable<RazamApp.Models.Message>
   @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
        <div>
            @Html.Partial("Partial")
            <h3>You have message from:</h3>
            <table>
                <tr>
                    <td><p>Id</p></td>
                    <td><p>Content</p></td>
                    <td></td>
                </tr>
                @foreach (RazamApp.Models.Message b in Model)
                {
                    <tr>
                        <td><p>@b.Id</p></td>
                        <td><p>@b.content</p></td>
                        <td><a href="/Home/GetHtml">Переход на другую страницу</a></td>
                    </tr>
                }
            </table>
        </div>
