@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <div>
        <h3>You have message from:</h3>
        <table>
            <tr>
                <td><p>Id</p></td>
                <td><p>Content</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Messages)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Content</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>

