@model IEnumerable<RazamApp.Models.Message>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table>
        @foreach (RazamApp.Models.Message b in Model)
         {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Content</p></td>
            </tr>
         }
    </table>
</div>
